@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Montserrat', sans-serif;
}

#landing_page{
    position: relative;
    background-color: #273036;
    color: #fff;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
nav{
    background-color: #273036;
}
.navbar-brand{
    color: #fff;
    font-size: 2rem;
    font-weight: bolder;
    text-transform: uppercase;
}
#navbtn{
    font-size: x-large;
    color: #fff;
}
.nav-link{
    font-weight: normal;
    color: #fff;
}
.navbar-brand:hover,.nav-link:hover{
   color: #fff;
}
.text{
    margin-top: 6rem;
}
#contact-btn{
    text-decoration: none;
    background-color: #000;
    color: #fff;
}
#contact-btn:hover{
    background-color: #5000CA;
    /* transition: ease all 1s; */
}
.fishimg{
    position: relative;
    top: -20vh;
    left: 50px;
    filter: drop-shadow(5px 5px 5px #222);
}
.wave::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(img/wave.svg) repeat-x;
    background-size: cover;
    background-position: -1000px 0;
    opacity: .2;
    animation: waveone 60s linear infinite;
}
@keyframes waveone{
    50%{
        background-position: 0 0;
    }
}
.wave::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(img/wave.svg) repeat-x;
    background-size: cover;
    background-position: 2732px 0;
    opacity: .3;
    animation: waveone 120s linear infinite;
}
.custom-shape-divider-bottom-1621601070 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}


/* video section starts */

.video-container .caption {
    z-index: 1;
    position: relative;
    text-align: center;
    background-color: black;
    opacity: .5;
    height: 30vh;
    padding-top: 20px;
  }
  .video-container {
    height: 30vh;
    width: 100%;
    position: relative;
}

.video-container video{
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 0;
}



/* product section starts */
.product{
    background-color: #273036;
}
/* gallery section starts */
/* .gal-img:hover{
    
} */

/* back to top btn */
#button {
    display: inline-block;
    background-color: #5000CA;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  }
  #button ion-icon{
    color: #fff;
    text-align: center;
    font-size: x-large;
    transform: rotate(270deg);
  }
  #button:hover {
    cursor: pointer;
    background-color: #333;
  }
  #button:active {
    background-color: #555;
  }
  #button.show {
    opacity: 1;
    visibility: visible;
  }
  
  /* Styles for the content section */
  
  @media (min-width: 500px) {
    #button {
      margin: 30px;
    }
  }

  .contact-icons{
    font-size: 30px;
    margin-bottom: 20px;
    color: #5000CA;
  }

  .card{
      display: flex;
      justify-content: space-between;
      border: none;
  }
  .card-body{
      border: 1px solid #5000CA;
  }

.footer{
    width: 100%;
    height: 50px;
    background: #273036;
    text-decoration: none;
    color: #fff;
}
.social-icons a{
    text-decoration: none;
}
.social-icons a:nth-child(1){
    color:#0099FF;
}
.social-icons a:nth-child(2){
    color:#E1306C;
}
.social-icons a:nth-child(3){
    color:#1DA1F2;
}
.social-icons a:nth-child(4){
    color:#2867B2;
}

#link{
    color:#0099FF;
}